.accordion__arrow-btn{
    transition: .5s ease;
        
    img{
        background-color: #2A79C2;
        padding: 13.5px 10px 13.5px 10px;
        border-radius: 50%;
    }
} 

.accordion__content{
    max-height: 0px;
    overflow: hidden;
    transition: .5s ease;

    .accordion__steps li:first-child{
        margin-top: 20px;
    }

    .accordion__steps li{
        padding: 20px 0px;
        color: #555555;
        border-top: #33333368 1px solid;

        a{
            color: #2A79C2;
            font-weight: 400;
        }
    }
}

.accordion__arrow-btn--active{
    transform: rotate(180deg);
}

.accordion__item{
    border-radius: 30px;
    // border: 1px solid #333;
    box-shadow: 0 0 50px #33333330;
    padding: 30px;

    .accordion__header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3{
            font-size: 19px;
            font-weight: 700;

            span{
                color: #2A79C2;
                margin-right: .3vw;
            }
        }
    }
}

.accordion{
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.program button:not(.accordion button){
    margin-top: 20px;
}

@media(max-width: 560px){
    .accordion__title{
        width: 80%;
    }
}