.services__title{
    margin-bottom: 10vh;
}

.services__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 50%;
    }
}

.services__wrapper:last-child{
    flex-direction: row-reverse;
    margin-top: 7vh;

    img{
        width: 40%;
    }
}

.services__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    width: 50%;


    h3{
        font-size: 24px;
        color: #1178B2;
        font-weight: 600;
    }

    p{
        color: #000;
        font-weight: 300;
        font-size: 20px;
    }

    button{
        padding: 10px 40px;
        font-size: 18px;
        border-radius: 8px;
    }
}

@media(max-width: 1000px){
    .services__title{
        margin-bottom: 10px;
        text-align: center;
    }

    .services__wrapper, .services__wrapper:last-child{
        flex-direction: column-reverse;
        
        .services__content{
            align-items: center;
            width: 80%;

            h3{
                font-size: 18px;
            }

            p{
                text-align: center;
                font-size: 16px;
            }
        }
    }
}