@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'header',
        'start',
        'services',
        'for-who',
        'startup',
        'markets',
        'about-us',
        'program',
        'result',
        'price',
        'experts',
        'questions',
        'footer';

*{
    font-family: 'Montserrat', 'sans-serif';
}

body{
    transition: .5s ease;
}

.container{
    padding: 0 15vw;
}

main{
    margin-top: -50px;

    section:not(:first-child){
        margin-top: 100px;
    }
}

.container-light-theme{
    
}

.container--dark-theme{
    background-color: #000;
    
    a, p, h3{
        color: #fff;
    }

    .markets__content .info ul li p{
        color: #101010;
    }

    .price__item{
        color: #fff;
    }

    h2.title{
        color: #00B1E9;
    }

    .questions h2.title{
        color: #fff;
    }
}

.red{
    background-color: red;
}

.gradient--dark-theme{
    background-image: linear-gradient(20deg, rgb(2, 0, 32) 40%, rgb(0 0 59) 93%);
}

.button{
    background: linear-gradient(to right, #61B5E4, #016CA8);
    padding: 16px 20px;
    border-radius: 10px;
    color: #fff;
}

.title{
    font-size: 36px;
    color: #1178B2;
    font-weight: 700;
    margin-bottom: 5vh;
}

.green-btn{
    background-color: #07AF91;
    color: #fff;
}

.header__logo, .footer__logo a{
    font-weight: 600;

    span{
        color: #00B1E9;
    }
}

select{
    color: #000;
    background-color: #fff;
    margin: 0px 20px;
}

@media (max-width: 1000px) {
    .container{
        padding: 0 2vw;
        padding-top: 5vh;
    }

    .title{
        font-size: 32px;
    }
}

